﻿@model IEnumerable<LexiconLMS.Models.Activity>
@using LexiconLMS.Models;
@{
    ViewBag.Title = "Aktiviteter";
}
<h1>@ViewBag.oneElement   @ViewBag.Title</h1>
<table class="table table-hover table-striped sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ModuleId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ModuleId)
                    </td>*@
                
            </tr>
        </tbody>
    }
</table>
