﻿@model IEnumerable<LexiconLMS.Models.Activity>
@using LexiconLMS.Models;
@{
    ViewBag.Title = "Aktiviteter";
}
<h1>@ViewBag.oneElement   @ViewBag.Title</h1>
<p>
    @Html.ActionLink("lägg till", "Create")
</p>
<div>
    @using (Html.BeginForm("Index", "Activities", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-4">
                <p class="breadcrumb">
                    <br />
                    @*@Html.DropDownList("Alternative")*@
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Sök" />
                </p>
            </div>
        </div>
    }
</div>
@foreach (var item in Model)
{

    <div class="row">
        <div class="col-lg-4">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@item.ActivityId" aria-expanded="false" aria-controls="@item.ActivityId">
                            @item.Name

                        </a>
                    </h4>
                </div>
                <div id="@item.ActivityId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                    <div>
                        @Html.DisplayNameFor(model => model.Module.Name):
                        @Html.DisplayFor(modelItem => item.Module.Name)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Description):

                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.ActivityType.TypeName):
                        @Html.DisplayFor(modelItem => item.ActivityType.TypeName)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.StartDate):
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.EndDate):
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </div>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.ActivityId }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.ActivityId })

                </div>
            </div>
        </div>
    </div>

}
