@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewBag.Title = "Kurser";
}


<h2>@ViewBag.Title</h2>
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Lägg till", "Create")
    </p>

    <div>
        @using (Html.BeginForm("Index", "Courses", FormMethod.Get))
        {
            <div class="row">
                <div class="col-lg-4">
                    <p class="breadcrumb">
                        <br />
                        @*@Html.DropDownList("Alternative")*@
                        @Html.TextBox("SearchString")
                        <input type="submit" value="Sök" />
                    </p>
                </div>
            </div>
        }
    </div>
    foreach (var item in Model)
    {
          
        <div class="row">
            <div class="col-lg-4">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">

                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@item.CourseID" aria-expanded="false" aria-controls="@item.CourseID">
                                @item.Name

                            </a>
                        </h4>
                    </div>
                    <div id="@item.CourseID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                        <div>
                            @Html.DisplayNameFor(model => model.Description):

                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.StartDate):
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.EndDate):
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </div>
                        @Html.ActionLink("Moduler", "ModuleFilter", "Modules", new { id = item.CourseID }, null) |
                        @Html.ActionLink("Ändra", "Edit", new { id = item.CourseID }) |
                        @Html.ActionLink("Ta bort", "Delete", new { id = item.CourseID })
                    </div>
                </div>
            </div>
        </div>
    }
   
}
else
{
    <h2>
        Du är inte autoriserad på den här sidan
    </h2>
}

