﻿@model IEnumerable<LexiconLMS.Models.Module>
@using LexiconLMS.Models;
@{
    ViewBag.Title = "Moduler";
}
<h1>@ViewBag.oneElement   @ViewBag.Title</h1>
<p>
    @Html.ActionLink("Lägg till", "Create")
</p>
<div>
    @using (Html.BeginForm("Index", "Modules", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-4">
                <p class="breadcrumb">
                    <br />
                    @*@Html.DropDownList("Alternative")*@
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Sök" />
                </p>
            </div>
        </div>
    }
</div>

@foreach (var item in Model)
{

    <div class="row">
        <div class="col-lg-4">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@item.ModuleID" aria-expanded="false" aria-controls="@item.ModuleID">
                            @item.Name

                        </a>
                    </h4>
                </div>
                <div id="@item.ModuleID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                    <div>
                        @Html.DisplayNameFor(model => model.Course.Name):

                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Description):

                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                  
                    <div>
                        @Html.DisplayNameFor(model => model.StartDate):
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.EndDate):
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </div>
                    @Html.ActionLink("Aktiviteter", "ActivityFilter", "Activities", new { id = item.ModuleID }, null) |
                    @Html.ActionLink("Ändra", "Edit", new { id = item.ModuleID }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.ModuleID })
                </div>
            </div>
        </div>
    </div>


}



@*<table class="table table-hover table-striped sortable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>

                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                    <td>
                        @Html.ActionLink("Aktiviteter", "ActivityFilter", "Activities", new { id = item.ModuleID }, null) |
                        @Html.ActionLink("Ändra", "Edit", new { id = item.ModuleID }) |
                        @Html.ActionLink("Detaljer", "Details", new { id = item.ModuleID }) |
                        @Html.ActionLink("Ta bort", "Delete", new { id = item.ModuleID })
                    </td>
                </tr>
            </tbody>
        }
    </table>*@
